* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    color: #333333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
    background-color: #eaeaea;
}

.news-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.news-item {
    width: calc(33.33%);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.news-item img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.news-item h3 {
    font-size: 18px;
    margin: 0;
}

.news-item p {
    margin: 0;
    color: #555555;
}

.news-item .read-more {
    display: inline-block;
    background-color: #555555;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
}

.news-item .read-more:hover,
.news-item .read-more:focus,
.news-item .read-more:active {
    background-color: #333333;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-top: 20px;
}











    .slider {
        width: 100%;
        margin-bottom: 20px;
    }

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slick-btn-own {
        position: absolute;
        z-index: 999;
        top: calc(50% - 15px);
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        transition: box-shadow 100ms linear;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-btn-own:hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    .slick-btn-own:active {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .slick-prev {
        left: 15px;
    }

    .slick-next {
        right: 15px;
    }






    .feedback-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 4px;
        margin-top: 20px;
    }

    .feedback-form h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .feedback-form label {
        display: block;
        margin-bottom: 10px;
    }

    .feedback-form input,
    .feedback-form textarea {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #dddddd;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .feedback-form input[type="submit"] {
        background-color: #555555;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .feedback-form input[type="submit"]:hover,
    .feedback-form input[type="submit"]:focus,
    .feedback-form input[type="submit"]:active {
        background-color: #333333;
    }







    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #ffffff;
        margin: 10% auto;
        padding: 20px;
        border-radius: 4px;
        width: 400px;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .modal label {
        display: block;
        margin-bottom: 10px;
    }

    .modal input,
    .modal select {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #dddddd;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .modal input[type="submit"] {
        background-color: #555555;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .modal input[type="submit"]:hover,
    .modal input[type="submit"]:focus,
    .modal input[type="submit"]:active {
        background-color: #333333;
    }

    .error {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
